# prometheus-values.tpl
service:
  retention: "7d"
server:
  persistentVolume:
    enabled: true
    size: 8Gi
    storageClass: ${storage_class_name}
alertmanager:
  persistence:
    enabled: true
    storageClass: ${storage_class_name}
